<!doctype html>
<html>
	<head>
	<title>Hawker Food Sharing</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='Hfooddetailsstyle.css') }}"> 

	</head>
	<header>
		<div class="container">
		  <a href="{{ url_for('discover') }}" class="logo"><img id='logoimg' src="{{ url_for('static',filename='logo.png') }}"></a>
		  <nav>
			<a href="{{ url_for('discover') }}" class="nav-link discover-link">
			  <img id="discoverimg" src="{{ url_for('static',filename='discover.png') }}" alt="Discover">
			  <span class="nav-text">Discover</span>
			</a>
			<a href="{{ url_for('share') }}" class="nav-link share-link">
				<img id="shareimg" src="{{ url_for('static',filename='share.png') }}" alt="Share">
				<span class="nav-text">Share</span>
			</a>
			<a href="{{ url_for('review') }}" class="nav-link review-link">
			  <img id="reviewimg" src="{{ url_for('static',filename='review.png') }}" alt="Review">
			  <span class="nav-text">Review</span>
			</a>
			<a href="{{ url_for('about') }}" class="nav-link about-link">
				<img id="aboutimg" src="{{ url_for('static',filename='about.png') }}" alt="About">
				<span class="nav-text">About</span>
			  </a>
		  </nav>
		  
		</div>
	  </header>

      <body>
        
		<div class="food-details-container">
			<div class="food-details">
				<h1>{{ food[0] }}</h1>
				<p>Stall Name: {{ food[1] }}</p>
				<p>Location: {{ food[2] }}</p>
				<p>Price: ${{ food[3] }}</p>
				<p>Protein: {{ food[4] }}g</p>
				<p>Cuisine: {{ food[5] }}</p>
			</div>
			<img id="food-image" src="{{ url_for('get_file', filename=food[6]) }}" alt="Food Image">
		</div>
		
		<div class="review-section">
			<h2>Reviews</h2>
			<div class="review-list">
				{% for review in reviews %}
					<div class="review-item">
						<p class="rating-stars">
							{% for i in range(review[0]) %}
								<span class="star">&#9733;</span>
							{% endfor %}
							{% for i in range(5 - review[0]) %}
								<span class="star">&#9734;</span>
							{% endfor %}
						</p>
						<p class="comments">Comments: {{ review[1] }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
		
		  
		


      </body>
</html>
      