<!doctype html>
<html>
	<head>
	<title>Hawker Food Sharing</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='Hsharestyle.css') }}"> 

	</head>
	<header>
		<div class="container">
		  <a href="{{ url_for('discover') }}" class="logo"><img id='logoimg' src="{{ url_for('static',filename='logo.png') }}"></a>
		  <nav>
			<a href="{{ url_for('discover') }}" class="nav-link discover-link">
			  <img id="discoverimg" src="{{ url_for('static',filename='discover.png') }}" alt="Discover">
			  <span class="nav-text">Discover</span>
			</a>
			<a href="{{ url_for('share') }}" class="nav-link share-link">
				<img id="shareimg" src="{{ url_for('static',filename='share.png') }}" alt="Share">
				<span class="nav-text">Share</span>
			</a>
			<a href="{{ url_for('review') }}" class="nav-link review-link">
			  <img id="reviewimg" src="{{ url_for('static',filename='review.png') }}" alt="Review">
			  <span class="nav-text">Review</span>
			</a>
			<a href="{{ url_for('about') }}" class="nav-link about-link">
				<img id="aboutimg" src="{{ url_for('static',filename='about.png') }}" alt="About">
				<span class="nav-text">About</span>
			  </a>
		  </nav>
		  
		</div>
	  </header>
	<body>
		<h1> Review {{ dishName}}!</h1>
		<div class="form-container">
            <form action="{{ url_for('submittedReview') }}" method='post' class="review-form">
        
                <input type='hidden' name='dishName' value='{{ dishName }}'> <!-- Automatically submit the dish name -->
        
                <label for='rating'>Rating:</label>
                <input type='number' name='rating' id='rating' min='0' max='5' class="input-field"><br> <!-- Input field for rating (0-5) -->
        
                <label for='comments'>Comments:</label>
                <textarea name='comments' id='comments' class="input-field"></textarea><br> <!-- Input field for comments -->
        
                <input type='submit' name='submit' value='Submit' class="submit-button">
            </form>
        </div>
        
        
	</body>
</html>